<!-- <p>First name: <%= @pizza.first_name %></p>
<p>Last name: <%= @pizza.last_name %></p>
<p>Topping: <%= @pizza.topping %></p>
<p>Quantity <%= @pizza.quantity %></p>

<form class="" action="/pizzas/<%= @pizza.id %>/edit" method="get">
  <input class="button" type="submit" name="" value="Edit Order">
</form>

<form class="" action="/pizzas/<%= @pizza.id %>/delete" method="post">
  <input class="button" type="submit" name="" value="Delete Order">
</form> -->

<p>Name: <%= @tag.name %></p>

<form class="" action="/tags/<%= @tag.id %>/edit" method="get">
  <input class=""type="submit" name="" value="Edit Tag">

<!-- Adjust class above later using button styling -->

<!-- Don't want to offer delete of tag - as history of transactions won't display/work -->

</form>
