<h2>Edit Transaction</h2>
<form class="" action="/transactions/<%= @transaction.id %>" method="POST">

  <div class="form-drop-down">
    <label for="vendor-select">Vendor:</label>
       <select name="vendor_id" id="vendor-select"> selected="<%= @transaction.vendor_id  %>">
         <% @vendors.each do |vendor| %>
           <% if vendor.id == @transaction.vendor_id %>
             <option value=<%= vendor.id %> selected><%= vendor.name.capitalize %></option>
           <% else %>
             <option value=<%= vendor.id %>><%= vendor.name.capitalize %></option>
           <% end %>
         <% end %>
       </select>
  </div>

  <div class="form-drop-down">
    <label for="tag-select">Category:</label>
       <select name="tag_id" id="tag-select"> selected="<%= @transaction.tag_id  %>">
         <% @tags.each do |tag| %>
           <% if tag.id == @transaction.tag_id %>
             <option value=<%= tag.id %> selected><%= tag.name.capitalize %></option>
           <% else %>
             <option value=<%= tag.id %>><%= tag.name.capitalize %></option>
           <% end %>
         <% end %>
       </select>
  </div>

  <label for="amount-update">Amount:</label>
  <input id="amount-update" type="number" step="0.01" placeholder="0.00" name="amount" value="<%= @transaction.amount %>">

  <label for="date-update">Date:</label>
  <input id="date-update" type="date" name="transaction_date" value="<%= @transaction.transaction_date %>">

  <br>
  <input class="side-button" type="submit" name="" value="Update Transaction">
</form>
