<h2>All Transactions</h2>
<% @transactions.each do |transaction|  %>

<p>Vendor: <%=transaction.vendor.name  %></p>
<p>Category: <%=transaction.tag.name %></p>
<p>Amount: <%=transaction.amount %></p>
<p>Date: <%=transaction.transaction_date %></p>
<a href="/transactions/<%= transaction.id %>">Transaction details</a>
<hr/>

<% end %>

<p>Transactions - Total Amount: £ <%= @total_amount %></p>
