<h2>Transactions</h2>
<p> </p>
<a href="/transactions/new">New Transaction</a>

<p> </p>
<table>
  <thead>
    <tr>
      <th scope="col">Vendor</th>
      <th scope="col">Tag</th>
      <th scope="col">Date</th>
      <th scope="col">Amount </th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
<tbody>
  <% @transactions.each do |transaction|  %>
  <tr>
    <td><a href="/transactions/<%= transaction.id %>"><%= transaction.vendor.name %></a></td>
    <td><%= transaction.tag.name %></td>
    <td><%= transaction.transaction_date %></td>
    <td>&pound; <%= transaction.amount %></td>
    <td><%= transaction.comment %></td>
  </tr>
  <% end %>
  <tr class="blank_row">
    <td colspan="6"></td>
  </tr>
</tbody>
<tfoot>
  <tr>
    <td scope="row" colspan="3"><span class="Total">Total Transactions</span></td>
    <td colspan="4">&pound; <%= @total_amount %></td>
  </tr>
</tfoot>
</table>

<% if @over_budget > 0 %>
  <p class="red-text">
  Hey Josie you've exceeded your budget this month by £ <%=@over_budget %> !</p>
<% end %>
