<h2>Budgets</h2>
<p> </p>
<a href="/budgets/new">New Budget</a>

<p> </p>
<div style="overflow-x:auto;">
  <table>
    <thead>
      <tr>
        <th scope="col">Month</th>
        <th scope="col">Year</th>
        <th scope="col">Name</th>
        <th scope="col">Tag</th>
        <th scope="col">Monthly Limit</th>
        <th scope="col">Budget Details</th>
      </tr>
    </thead>

    <% @budgets.each do |budget| %>
    <tr>
      <td><%= budget.month_name %></td>
      <td><%= budget.year %></td>
      <td><%= budget.name %></td>
      <td><%= budget.tag.name %></td>
      <td><%= budget.monthly_limit %></td>
      <td><a href="/budgets/<%= budget.id %>">Budget Details</td>
        <td></td>
      </tr>
      <% end %>
    </table>
  </div>
