</form>

<h2>Budget details</h2>
<p>Month: <%= @budget.month_name %></p>
<p>Year: <%= @budget.year %></p>
<p>Name: <%= @budget.name %></p>
<p>Tag: <%= @budget.tag.name %></p>
<p>Monthly Limit: <%= @budget.monthly_limit %></p>

<p>Actual Spend: &pound; <%=@actual_spend %> </p>
<p>Remaining Amount: &pound; <%=@remaining_amount %> </p>

<form class="" action="/budgets/<%= @budget.id %>/edit" method="get">
  <input class="button" type="submit" name="" value="Edit Budget">
</form>

<form class="" action="/budgets/<%= @budget.id %>/delete" method="post">
  <input class="button" type="submit" name="" value="Delete Budget">
</form>
